---
- name: Install Docker and Docker Compose on Amazon Linux 2023
  hosts: servers
  remote_user: root

  tasks:
    - name: Install Docker
      dnf:
        name: docker
        state: present
        update_cache: yes

    - name: Install Docker Compose manually
      get_url:
        url: https://github.com/docker/compose/releases/download/v2.27.0/docker-compose-linux-x86_64
        dest: /usr/local/bin/docker-compose
        mode: '0755'

    - name: Enable and start Docker
      service:
        name: docker
        state: started
        enabled: true
